.App{
  text-align: center;
}
.appHeader{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: cal(10px+2vmin);
  color: white;
}
.cellInput{
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border:1px solid black;
  padding: 0px;
 
}
input:disabled{
  background: bisque;
}
table{
  border-collapse: collapse;
  border: 3px solid bisque;
}
td{
  padding: 0px;
}
disabled{
  color:bisque
}
.buttonConatiner{
  margin-top: 20px;
}
.solveButton{
  background-color: orange;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.resetButton{
  background-color: tomato;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.checkButton{
  background-color: green;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 20px;
}